<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bigfoot Sightings </title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    "This is just filler text"
    <select id="selDataset" onchange="optionChanged(this.value)"></select>
    <div id="pie"></div>
    <div id = 'bubble'></div>
    <script>
            var url = "/names"
            Plotly.d3.json(url,function(error,response){
                if(error) console.log(error)
                var dropdown = document.getElementById("selDataset");
    
                for(var i = 0; i< response.length;i++){
                    var elements = document.createElement("option");
                    var arr = response[i];
                    elements.textContent = arr;
                    elements.value = arr;
                    dropdown.appendChild(elements);
            };
        });
    
        function optionChanged(route) {
                console.log(route);
                Plotly.d3.json('/samples'+`/${route}`,function(error,response){
                    var trace_pie = {
                    labels : response.otu_ids,
                    values : response.sample_values,
                    type : 'pie'
                    };
                    var data_pie = [trace_pie];
                    Plotly.newPlot('pie',data_pie)
                    
                    var bubble_size = []
                    var bubble_color = ['green','red','blue','yellow','pink','brown','orange','purple','black','rgb(255, 65, 54)']
                    var bubble_color_2 = []
                    for(i=0;i<10;i++){
                        bubble_size.push(response.sample_values[i])
                        if(bubble_color_2.length<=bubble_size.length){
                            bubble_color_2.push(bubble_color[i])
                    }
                }
                    console.log(bubble_color_2)
                    var trace_bubble = {
                    type: "scatter",
                    mode: "markers",
                    name: "Belly Button",
                    x: response.otu_ids,
                    y: response.sample_values,
                    marker:{color:bubble_color_2,size:bubble_size}
                    };

                    var data_bubble = [trace_bubble];
                    var layout_bubble = {
                    title: "belly button"
                    };
                    Plotly.newPlot('bubble',data_bubble,layout_bubble)
            });
        }
    </script>
    
    
</body>
</html>